h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
}

.ql-editor p {
  margin-bottom: 10px !important;
  line-height: 20px;
}

.bg-primary--soft {
  background-color: #f9f8ff;
}

.text-primary {
  color: #8781FF !important;
}
.text-description {
  font-size: 13px;
  color: #626262;
  line-height: 25px;
}
.text-star {
  color: #ffc814;
}

.font-weight-normal {
  font-weight: normal !important;
}

.option-text {
  margin-bottom: 0;
}
.option-text p {
  margin-bottom: 0 !important;
}

.router-push {
  cursor: pointer;
}
.router-push:hover {
  box-shadow: 0 4px 10px rgba(199, 199, 199, 0.5) !important;
}

.breadcrumb {
  background-color: transparent;
}
.breadcrumb-item {
  color: #9e8df3;
  font-size: 13px;
}
.breadcrumb-item > a {
  color: #9e8df3;
}

.border-dashed {
  border: 1px dashed #afafaf;
}

input,
.form-control {
  opacity: 1;
}
input:disabled,
.form-control:disabled {
  cursor: not-allowed;
  background-color: rgba(202, 202, 202, 0.25) !important;
  color: rgba(163, 163, 163, 0.726) !important;
}

.question-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.question-option-letter {
  border: 1px solid #91b0b3;
  font-size: 14px;
  border-color: 1px solid #9e8df3;
  background-color: #ccc;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.question-option-letter.correct {
  border-color: 1px solid #55cb4a;
  background-color: #55cb4a;
  color: white;
}
.question-option-letter.wrong {
  border-color: 1px solid #df2424;
  background-color: #df2424;
  color: white;
}

.b-form-tags-input {
  color: #1a1a1a;
}
.b-form-tags-input small.form-text {
  color: red !important;
}

.btn.btn {
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.btn.btn.square {
  border-radius: 4px;
}
.btn.btn:focus,
.btn.btn .focus {
  box-shadow: none !important;
}
.btn.btn-primary {
  background-color: #8781FF !important;
  border-color: #8781FF !important;
}
.btn.btn-primary:hover {
  background-color: #8781FF !important;
  border-color: #8781FF !important;
  color: white;
}
.btn.btn-primary:active:not(.disabled), .btn.btn-primary:active:not(:disabled) {
  background-color: #8781FF !important;
  border-color: #8781FF !important;
  color: white;
}
.btn.btn-light {
  color: #8781FF;
}
.btn.btn-light:hover {
  background-color: transparent;
  color: #8781FF;
  border: 1px solid #f5f5f5;
}
.btn.btn-danger {
  border-color: rgb(255, 29, 29);
  color: #fff;
}
.btn.btn-danger.fill {
  border: 1px solid #ffb1b1;
  background-color: #ffddc7;
}
.btn.btn-danger.fill:hover {
  background-color: #ffb1b1;
}
.btn.btn-danger:hover {
  background-color: rgb(189, 19, 19) !important;
}
.btn.btn-outline-primary {
  color: #8781FF;
  border: 1px solid #8781FF;
}
.btn.btn-outline-primary:disabled, .btn.btn-outline-primary.disabled {
  color: #8781FF;
}
.btn.btn-outline-primary:disabled:hover, .btn.btn-outline-primary.disabled:hover {
  color: #fff;
  border-color: #dddddd;
  background-color: #dddddd;
}
.btn.btn-outline-primary:hover {
  background-color: #8781FF;
  border-color: #8781FF;
  color: #fff;
}
.btn.btn-outline-primary:active {
  background-color: #8781FF !important;
  border-color: #8781FF !important;
  color: #fff;
}
.btn.btn-outline-warning {
  border: 1px solid #ff8706;
  color: #ff8706;
}
.btn.btn-outline-warning.fill {
  border: 1px solid #ffddc7;
  background-color: #ffddc7;
}
.btn.btn-outline-warning.fill:hover {
  background-color: #ffc49c;
}
.btn.btn:disabled, .btn.btn.disabled {
  cursor: not-allowed;
}

.konten.konten-dashfirst .btn-slengkapnya:hover {
  color: white;
}

.btn-radio-toggle label.btn {
  min-width: 60px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #9e8df3 !important;
}

.card-body-content-dua.dua .opsi .btn-primary {
  background-color: rgb(17, 130, 250);
}
.card-body-content-dua.dua .opsi .btn-primary:hover {
  background-color: rgb(7, 110, 221);
}

#admin-sidebar > .b-sidebar-body {
  overflow-y: visible;
}

.sidebar-col {
  box-shadow: 3px 0px 10px 0px rgba(207, 207, 207, 0.5) !important;
  z-index: 11;
  background-color: #8781FF !important;
  color: #fff;
}
.sidebar-col .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.floating-pagination {
  position: fixed;
  bottom: 20px;
  z-index: 99;
  right: 20px;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(127, 127, 127, 0.3);
}
.floating-pagination > ul {
  margin-bottom: 0px;
}

#right-sect {
  position: relative;
}
#right-sect::after {
  content: "";
  position: absolute;
  background-image: url(/background/admin-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
  width: 400px;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#menu.sidebar .navbar-nav {
  z-index: 999;
  position: relative;
}
#menu.sidebar .navbar-nav .nav-link {
  outline: none;
  width: 100%;
}
#menu.sidebar .navbar-nav .nav-link.active, #menu.sidebar .navbar-nav .nav-link.nuxt-link-active, #menu.sidebar .navbar-nav .nav-link.nuxt-link-exact-active {
  color: #47415b;
  font-weight: 600;
}
#menu.sidebar .navbar-nav .nav-link.dropdown-toggle::after {
  position: absolute;
  right: 20px;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
#menu.sidebar .navbar-nav .nav-link.dropdown-toggle[aria-expanded=true]::after {
  content: none;
}
#menu.sidebar .dropdown-menu {
  top: 0 !important;
  right: 10px !important;
  left: unset !important;
  transform: translateX(100%) !important;
}
#menu.sidebar .dropdown-menu::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -18px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left: 0;
  border-right: 18px solid #d5cbff;
}
#menu.sidebar .dropdown-menu::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -15px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 0;
  border-right: 16px solid #fff;
  z-index: 5;
}
#menu.sidebar .dropdown-item.active, #menu.sidebar .dropdown-item.nuxt-link-exact-active {
  background-color: rgba(135, 129, 255, 0.75) !important;
  color: #fff;
}

#header {
  position: relative;
  z-index: 99;
}
#header .nav-link {
  font-size: 30px;
}
#header .dropdown-menu {
  top: 18px !important;
  z-index: 99;
  position: relative;
}
#header .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top: 0;
  border-bottom: 16px solid #d5cbff;
}
#header .dropdown-menu::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 11px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom: 15px solid #fff;
  z-index: 5;
}

.dropdown-menu {
  border-radius: 4px;
  border: 1px solid #cdc1ff;
}
.dropdown-item {
  color: #c1bcde;
  font-size: 15px;
}
.dropdown-item:hover {
  color: #9e8df3;
}
.dropdown-item:active {
  color: #fff;
}

.crud .crud-btn__add {
  border-radius: 4px;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.crud .crud-tools {
  z-index: 10;
}
.crud .crud-tools .input-group {
  font-size: 14px;
}
.crud .crud-tools .input-group .form-control,
.crud .crud-tools .input-group .custom-select {
  border: 1px solid #8781FF;
  border-radius: 0 4px 4px 0;
  border-left: none;
  padding: 11px;
  height: unset;
}
.crud .crud-tools .input-group .form-control::-moz-placeholder, .crud .crud-tools .input-group .custom-select::-moz-placeholder {
  color: #8781FF;
}
.crud .crud-tools .input-group .form-control::placeholder,
.crud .crud-tools .input-group .custom-select::placeholder {
  color: #8781FF;
}
.crud .crud-tools .input-group select {
  color: #8781FF;
  background: #fff;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
.crud .crud-tools .input-group select option {
  color: #444;
}
.crud .crud-tools .input-group .input-group-text {
  border: 1px solid #8781FF;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
  border-right: none;
  color: #8781FF;
  padding-left: 15px;
  font-size: 12px;
}
.crud .crud-body {
  z-index: 3 !important;
  position: relative;
}
.crud .crud-body.kosong {
  margin-left: 100px;
  min-height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
.crud .crud-body.kosong-title {
  color: #47415b;
  font-size: 36px;
}
.crud .crud-body.kosong-subtitle {
  color: #9490a4;
  font-size: 24px;
}
.crud .crud-footer {
  width: 100%;
  z-index: 10;
  align-items: center;
}
.crud .crud-footer .btn {
  border-radius: 4px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.crud .table .thead-table th {
  padding: 1rem;
}
.crud .table .thead-table th.aksi {
  text-align: center;
}
.crud .table .thead-table th.no {
  text-align: center;
}
.crud .table .body-table td {
  padding: 1rem;
  font-size: 14px;
}
.crud .table .btn-table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.crud .table .btn-table button {
  margin: 0 5px;
}
.crud .table .btn-table .edit {
  color: #55cb4a;
  font-size: 25px;
}
.crud .table .btn-table .edit:hover {
  color: #6feb63;
}
.crud .table .btn-table .trash {
  color: rgb(238, 43, 43);
  font-size: 24px;
}
.crud .table .btn-table .trash:hover {
  color: rgb(255, 66, 66);
}
.crud .table .btn-table .detail {
  color: #008ffd;
  font-size: 25px;
}
.crud .table .btn-table .detail:hover {
  color: #43aeff;
}
.crud .pagination-table {
  padding: 0;
}
.crud .pagination-table .page-item.active .page-link {
  background: #8781FF;
  color: #f5efff;
  border-radius: 10px;
}
.crud .pagination-table .page-link {
  background-color: transparent;
  color: #9490a4;
  padding: 8px 13px;
  margin-left: 3px;
  margin-right: 3px;
  transition: 0.3s;
}
.crud .pagination-table .page-link:hover {
  background: transparent;
  color: #8781FF;
}
.crud .pagination-table .page-link:focus {
  box-shadow: none;
}

.data-tryout {
  margin-top: 30px;
}
.data-tryout .card-data {
  margin: 0;
  margin-bottom: 30px;
  padding: 30px 20px;
}
.data-tryout .card-data .jenis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.data-tryout .card-data .jenis .badge {
  font-size: 16px;
  font-weight: 400;
  color: #fdfdfd;
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 10px;
  background: #ffc490;
  border-radius: 5px;
}
.data-tryout .card-data button.btn,
.data-tryout .card-data a.btn {
  display: inline-block !important;
  min-width: 150px;
}

.icon-footer {
  position: relative;
  left: -20px;
}
.icon-footer.center .title {
  left: 55%;
  transform: translateX(-50%) rotate(-10deg);
}
.icon-footer.center .subtitle {
  left: 55%;
  transform: translateX(-50%) rotate(-10deg);
}
.icon-footer .title {
  color: #8781FF;
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  transform: rotate(-10deg);
  top: 18px;
  left: 5px;
  white-space: nowrap;
}
.icon-footer .title.small {
  font-size: 13px;
}
.icon-footer .subtitle {
  color: #8781FF;
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transform: rotate(-10deg);
  top: 33px;
  left: 5px;
  white-space: nowrap;
}
.icon-footer .subtitle span {
  margin: 0 3px;
}
.icon-footer .subtitle.single {
  font-size: 14px;
  left: 55%;
  transform: translateX(-50%) rotate(-10deg);
}
.icon-footer .subtitle.small {
  font-size: 12px;
}

.package-getlist p {
  margin-bottom: 5px;
}

.buat-soal p:after {
  content: "";
}

.accordion .btn {
  border-radius: 4px;
}

.accordion {
  padding: unset;
}
.accordion .card-header {
  cursor: pointer;
}
.accordion .collapsed .when-open,
.accordion .not-collapsed .when-closed {
  display: none;
}
.accordion .fa-plus,
.accordion .fa-minus {
  font-weight: 600;
}
.accordion .card-header {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: transparent;
  border-bottom: 1px solid #9490a4;
}
.accordion .card-body {
  font-size: 12px;
  color: #9490a4;
  padding-left: 0px;
}

table,
.table {
  position: relative;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.admin-modal .modal-header {
  border-bottom: none;
}
.admin-modal .modal-text {
  color: #9490a4;
}
.admin-modal .btn {
  border-radius: 4px;
}
.admin-modal .modal-body-kiri table > tr > th {
  color: #9490a4;
  font-weight: normal;
}
.admin-modal .modal-body-kiri table > tr > td {
  color: #47415b;
}
.admin-modal .modal-body-kanan .card-image {
  border: 1px solid #ddd;
  padding: 20px;
}
.admin-modal .modal-body-kanan .card-image img {
  height: 100%;
  width: 100%;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.admin-modal .modal-body-kanan p {
  font-size: 13px;
  color: #9490a4 !important;
}
.admin-modal .modal-body .btn-danger {
  border: 1px solid #df2424;
  background-color: #df2424;
}

.konten {
  min-height: unset;
  min-height: calc(100vh - 80px);
  padding-top: 10px;
  padding-bottom: 50px;
  overflow-y: auto;
}
.konten .card {
  border: 1px solid transparent;
  box-shadow: 0 4px 10px rgba(199, 199, 199, 0.25);
}
.konten .card-body {
  padding-left: 15px;
}
.konten .card-body .label-event {
  font-size: 14px;
}
.konten .card-karir .bordered {
  border-bottom: 12px solid #d7d2f7;
  border-radius: 0px 0px 12px 12px;
}
.konten .card-karir .karir-link {
  color: #8781FF;
  text-decoration: none;
}
.konten .card-judul {
  font-size: 24px;
  color: #8781FF;
  margin-top: 65px;
  margin-bottom: 35px;
}
.konten .card-footer {
  background-color: white;
}
.konten .dash-label {
  font-size: 35px;
  display: flex;
  align-items: center;
}
.konten .dash-label .spinner-border,
.konten .dash-label .spinner-grow {
  font-size: 20px;
  color: #d0d0d0;
}
.konten.konten-dashfirst .btn-slengkapnya {
  border: 1px solid #8781FF;
}
.konten.konten-dashfirst .btn-slengkapnya:hover {
  border: 1px solid #f5efff;
}
.konten.konten-dashfirst .link-lewati:hover {
  color: #ffffff;
}

.super-admin .form-login__title {
  font-size: 26px;
  color: #8781FF;
}
.super-admin .form-login .input-group input {
  border-right: 1px solid transparent;
}
.super-admin .form-login .input-group-text {
  color: #e5d9f2;
  border-left: 1px solid transparent;
}
.super-admin .form-control {
  border: 1px solid #9490a4;
}

.kelas.bg-buat-kelas {
  background-image: url("/dash-guru.png");
  background-position-x: right;
}
.kelas.bg-uktt {
  background-image: url("/dash-guru2.png");
  background-position-x: right;
}

/* unggah foto */
.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 235px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 60%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.form-karir,
.reg-siswa label:after {
  content: "";
}

.form-user .form-control,
.form-user .input-group-text,
.form-user .custom-file-label {
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: transparent;
  border-bottom: 1px solid #9490a4;
  border-radius: 0;
  overflow: hidden;
}

.form-user .input-group-text {
  color: #e5d9f2;
  border-color: rgba(148, 144, 164, 0.5411764706);
}
.form-user .form-error__info {
  color: rgb(255, 74, 74);
  font-size: 12px;
}
.form-user .custom-select:multiple {
  border: 1px dashed #8781FF;
}
.form-user .custom-file-label {
  color: #e5d9f2;
  z-index: 10;
  overflow: visible;
}
.form-user .custom-file-label::after {
  color: #fff;
  background-color: #8781FF;
  border: 2px solid #8781FF;
}

input.form-control-primary {
  border-color: #9e8df3;
  color: #9e8df3 !important;
}
input.form-control-danger {
  border-color: rgb(255, 74, 74);
  color: rgb(255, 74, 74) !important;
}
input.form-control-success {
  border-color: rgb(74, 255, 128);
  color: rgb(74, 255, 128) !important;
}
input.form-control-info {
  border-color: rgb(74, 152, 255);
  color: rgb(74, 152, 255) !important;
}

.question-option-radio-group .custom-radio.checked .custom-control-input ~ .custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.question-option-radio-group .custom-radio.checked .custom-control-input ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.question-option-radio-group .custom-control-label {
  width: 100%;
}

.nav-pills .nav-link {
  border: 1px solid #9e8df3;
  margin-right: 15px;
  color: #9e8df3;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.nav-pills .nav-link.active {
  background-color: #9e8df3;
}

.ujian {
  height: calc(100vh - 40px);
  width: 100%;
  max-width: 1200px;
}
.ujian-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 20px 30px;
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
  margin-top: 20px;
}
.ujian-wrapper > .row {
  min-height: 60vh;
}
.ujian .left-section {
  overflow-y: auto;
  height: 100%;
}
.ujian .badge {
  border-radius: 25px;
  padding: 5px 10px;
}
.ujian .product-name {
  font-size: 25px;
  line-height: 35px;
  background-color: white;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.ujian .table-sm th,
.ujian .table-sm td {
  font-size: 14px;
}
.ujian .question-list {
  font-size: 13px;
  overflow-y: auto;
}
.ujian .question-header-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.ujian .question-main-text {
  font-weight: 500;
  font-size: 14px;
}
.ujian .option-item {
  font-size: 13px;
}
.ujian .option-item label {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.ujian .question-board {
  height: 100%;
  height: calc(100vh - 100px);
}
.ujian .info-board {
  height: 100%;
  overflow-y: auto;
}
.ujian .board-list {
  width: 100%;
}
.ujian .board-title {
  font-size: 18px;
  line-height: 25px;
}
.ujian .board-guide-text {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  max-height: 300px;
  box-sizing: border-box;
  overflow-y: auto;
}
.ujian .board-guide-text p {
  margin-bottom: 10px;
}
.ujian .board-item {
  display: block;
  position: relative;
  flex: 0 0 20%;
  max-width: 20%;
}
.ujian .board-item-number {
  background-color: #f1e9fe;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  width: 40px;
  height: 38px;
  color: #9490a4;
  text-decoration: none;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  position: relative;
}
.ujian .board-item-number:hover {
  font-weight: 500;
  transform: scale(1.1);
}
.ujian .board-item-number::after {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ddd;
  right: 2px;
  bottom: 2px;
}
.ujian .board-item-number.active::after {
  background-color: #008ffd !important;
}
.ujian .board-item-number.filled::after {
  background-color: #55cb4a;
}
.ujian .board-item-number + span {
  position: absolute;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1b8fc;
  right: 10px;
  bottom: 2px;
}
.ujian .board-legend {
  font-size: 13px;
  color: #9490a4;
}
.ujian .board-legend span {
  display: inline-block;
  background-color: #ddd;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.ujian .board-legend span.active {
  background-color: #008ffd;
}
.ujian .board-legend span.filled {
  background-color: #55cb4a;
}
.ujian-guide-box {
  min-height: 50vh;
  max-height: calc(100vh - 100px);
  overflow: hidden;
}
.ujian-guide-box .card-body {
  overflow-y: auto;
  color: #636266;
  font-size: 14px;
  line-height: 28px;
}
.ujian-guide-box .card-body h1 {
  font-size: 25px;
}
.ujian-guide-box .card-body h2 {
  font-size: 23px;
}
.ujian-guide-box .card-body h3 {
  font-size: 21px;
}
.ujian-guide-box .card-body h4 {
  font-size: 19px;
}
.ujian-guide-box .card-body h5 {
  font-size: 17px;
}
.ujian-guide-box .card-body h6 {
  font-size: 25px;
}
.ujian .card-header, .ujian .card-footer {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
.ujian .card-title {
  font-size: 25px;
  margin-bottom: 0;
}

.personality-card {
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 0px rgba(134, 134, 134, 0.25) !important;
  border: none !important;
}
.personality-card .card-footer {
  display: none;
}
.personality-card:hover > .card-footer {
  display: inline-block;
}
.personality-card .card-body {
  transition: 0.3s;
  min-height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}
.personality-card .card-footer {
  transition: 0.5s;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.personality-card .card-footer p {
  font-size: 12px;
  margin-bottom: 0;
}
.personality-type {
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}
.personality-circle {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}
.personality-circle .percent {
  font-size: 18px;
  display: inline-block;
  margin-left: 2px;
}
.personality-trait {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.personality .table tr > th {
  font-size: 15px;
}
.personality .table tr > td {
  font-size: 14px;
  color: #777;
}
.personality .list li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
}

.media-box {
  height: 300px;
  width: 100%;
  border: 2px dashed rgba(176, 166, 239, 0.7);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-box--youtube iframe {
  width: 100%;
  height: 100%;
}
.media-box__icon {
  font-size: 80px;
  color: rgba(176, 166, 239, 0.5);
}

.courses-review .review-item {
  border-bottom: 1px solid #ddd;
  padding-top: 30px;
  padding-bottom: 30px;
}
.courses-review .review-avatar {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  border: 1px solid #9e8df3;
}
.courses-review .review-data {
  width: 100%;
}
.courses-review .review-data__author {
  font-weight: 500;
}
.courses-review .review-data__rating {
  font-size: 13px;
}
.courses-review .review-data__rating .star {
  color: #ffc814;
}
.courses-review .review-data__rating .time {
  color: #777777;
}
.courses-review .review-data__comment {
  font-size: 14px;
}
.courses-review .review-reply .form-label {
  font-size: 13px;
  font-weight: 500;
}
.courses-review .review-list--child .review-item {
  border-color: transparent;
  padding-bottom: 5px;
  margin-bottom: 0;
}
.courses-review .review-list--child .review-avatar {
  width: 50px;
  height: 50px;
}
.courses-review .review-list--child .review-data__author {
  font-size: smaller;
}
.courses-review .review-list--child .review-data__comment {
  font-size: 13px;
}

.material-description p {
  font-size: 13px;
  margin-bottom: 10px;
}
.material-item .card {
  border: 1px solid #ddd;
}
.material-item .card-body {
  padding-right: 30px;
}
.material-media .media-item {
  overflow: hidden;
  border: 1px solid #9e8df3;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px 1px rgba(157, 140, 243, 0.25);
  transition: 0.5s;
}
.material-media .media-item:hover {
  box-shadow: 0 3px 5px 1px rgba(157, 140, 243, 0.5);
}
.material-media .media-icon {
  color: #47415b;
}
.material-media .media-name {
  font-weight: 500;
  color: #47415b;
  white-space: nowrap;
}
.material-media .media-link {
  color: #9490a4;
  white-space: nowrap;
}
.material-media .media-link:hover {
  text-decoration: none;
}

.level .title {
  font-weight: 600;
}
.level-circle {
  width: 80px;
  height: 80px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.level-name {
  font-size: 17px;
  font-weight: 600;
}

.notif-dropdown {
  max-width: 100%;
}
.notif-dropdown .dropdown-menu {
  min-width: 300px;
  max-width: 450px;
}
.notif-dropdown .notif-total {
  font-size: 11px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.notif-dropdown-item {
  color: #9e8df3;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 10px;
  padding-bottom: 10px;
}
.notif-dropdown-item:active {
  color: #fff;
  border-color: transparent;
}
.notif-dropdown-item:active .notif-title {
  color: #fff;
}
.notif-dropdown-item .notif-title {
  font-size: 13px;
}
.notif-dropdown-item .notif-body {
  font-size: 12px;
  min-width: 300px;
  white-space: normal;
}
.notif-dropdown-item .notif-icon {
  font-size: 20px;
}
.notif-dropdown-item.opened {
  color: #c5c5c5;
}
.notif-dropdown-item.opened .notif-title {
  color: #c5c5c5;
}

.letter-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #9e8df3;
  font-weight: 500;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 5px 0 rgba(133, 133, 133, 0.5);
}
.letter-option.active {
  background-color: #9e8df3;
  color: #fff;
}
.letter-option.active label {
  color: #fff;
}
.letter-option label {
  color: #9e8df3;
  min-width: 50%;
}

.card-top {
  position: relative;
  height: 300px;
}
.card-top::after {
  content: "";
  background: linear-gradient(180deg, rgba(146, 134, 255, 0.1) 0%, rgba(146, 134, 255, 0.4) 100%);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.card-top > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-top__float-top {
  z-index: 8;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card-top__float-bottom {
  z-index: 8;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
}
.card-top__float-bottom .title {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.card-top__float-bottom .subtitle {
  font-size: 14px;
}
.card-top__label {
  background-color: #55cb4a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 0px;
  color: #fdfdfd !important;
  font-size: 13px !important;
}

/* CSS on MOBILE */
/* HAPE */
/* TABLET */
@media screen and (max-width: 768px) {
  .super-admin::before {
    display: none;
  }
  .ujian .question-board {
    height: calc(100vh - 170px);
  }
}
/* LAPTOP Kecil */
@media screen and (max-width: 992px) {
  .super-admin {
    padding: 30px 0;
  }
  .super-admin .form-login__kanan {
    padding-top: 30px;
  }
  .super-admin .form-login__kanan .logo {
    width: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .super-admin .form-login__kanan .mess-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .super-admin .form-login__kanan .mess-subtitle {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .super-admin .form-login__kanan .btn {
    font-size: 12px !important;
    padding: 5px 15px !important;
  }
}
/* LAPTOP Normal */
/* LAPTOP besar */
.normal.table.table-bordered th, .normal.table.table-bordered td {
  border: 1px solid #dee2e6;
}
.normal.table.table th, .normal.table.table td {
  border-top: 1px solid #dee2e6;
}/*# sourceMappingURL=admin-3.css.map */