h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
}

.bg-primary--soft {
  background-color: #f9f8ff;
}

.text-primary {
  color: #baadff !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

input {
  opacity: 1;
}

input:disabled {
  cursor: not-allowed;
  background-color: rgba(202, 202, 202, 0.25) !important;
  color: rgba(163, 163, 163, 0.726) !important;
}

.btn.btn {
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn.btn:focus,
.btn.btn .focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn.btn-primary {
  background-color: #baadff;
  border-color: #baadff;
}

.btn.btn-primary:hover {
  background-color: #9e8df3;
  border-color: #9e8df3;
  color: white;
}

.btn.btn-primary:active:not(.disabled), .btn.btn-primary:active:not(:disabled) {
  background-color: #9e8df3;
  border-color: #9e8df3;
  color: white;
}

.btn.btn-light {
  color: #baadff;
}

.btn.btn-light:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.btn.btn-outline-primary {
  border: 1px solid #d5cbff;
}

.btn.btn-outline-primary:disabled, .btn.btn-outline-primary.disabled {
  color: #a594f9;
}

.btn.btn-outline-primary:disabled:hover, .btn.btn-outline-primary.disabled:hover {
  color: #fff;
  border-color: #dddddd;
  background-color: #dddddd;
}

.btn.btn-outline-warning {
  border: 1px solid #ff8706;
  color: #ff8706;
}

.btn.btn-outline-warning.fill {
  border: 1px solid #ffddc7;
  background-color: #ffddc7;
}

.btn.btn-outline-warning.fill:hover {
  background-color: #ffc49c;
}

.btn.btn:disabled, .btn.btn.disabled {
  cursor: not-allowed;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #9e8df3 !important;
}

#right-sect {
  overflow-x: hidden;
}

#right-sect::after {
  content: "";
  position: absolute;
  background-image: url(/background/admin-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
  width: 400px;
  height: 100%;
  bottom: -80px;
  right: -30px;
  z-index: 1;
}

#menu.sidebar .navbar-nav {
  z-index: 999;
  position: relative;
}

#menu.sidebar .dropdown-menu {
  top: -35px !important;
  left: 150px !important;
}

#menu.sidebar .dropdown-menu::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -18px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left: 0;
  border-right: 18px solid #d5cbff;
}

#menu.sidebar .dropdown-menu::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -15px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 0;
  border-right: 16px solid #fff;
  z-index: 5;
}

#header .dropdown-menu {
  top: 18px !important;
}

#header .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top: 0;
  border-bottom: 16px solid #d5cbff;
}

#header .dropdown-menu::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 11px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom: 15px solid #fff;
  z-index: 5;
}

.dropdown-menu {
  border-radius: 4px;
  border: 1px solid #cdc1ff;
}

.dropdown-item {
  color: #c1bcde;
  font-size: 15px;
}

.dropdown-item:hover {
  color: #9e8df3;
}

.dropdown-item:active {
  color: #fff;
}

.crud .crud-btn__add {
  border-radius: 4px;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.crud .crud-tools {
  z-index: 10;
}

.crud .crud-tools .input-group {
  font-size: 14px;
}

.crud .crud-tools .input-group .form-control,
.crud .crud-tools .input-group .custom-select {
  border: 1px solid #b0a6ef;
  border-radius: 0 4px 4px 0;
  border-left: none;
  padding: 11px;
  height: unset;
}

.crud .crud-tools .input-group .form-control::-webkit-input-placeholder,
.crud .crud-tools .input-group .custom-select::-webkit-input-placeholder {
  color: #b0a6ef;
}

.crud .crud-tools .input-group .form-control:-ms-input-placeholder,
.crud .crud-tools .input-group .custom-select:-ms-input-placeholder {
  color: #b0a6ef;
}

.crud .crud-tools .input-group .form-control::-ms-input-placeholder,
.crud .crud-tools .input-group .custom-select::-ms-input-placeholder {
  color: #b0a6ef;
}

.crud .crud-tools .input-group .form-control::placeholder,
.crud .crud-tools .input-group .custom-select::placeholder {
  color: #b0a6ef;
}

.crud .crud-tools .input-group select {
  color: #b0a6ef;
  background: #fff;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

.crud .crud-tools .input-group select option {
  color: #444;
}

.crud .crud-tools .input-group .input-group-text {
  border: 1px solid #b0a6ef;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
  border-right: none;
  color: #b0a6ef;
  padding-left: 25px;
}

.crud .crud-body {
  background-color: #f9f8ff;
  z-index: 10;
}

.crud .crud-body.kosong {
  margin-left: 100px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.crud .crud-body.kosong-title {
  color: #47415b;
  font-size: 36px;
}

.crud .crud-body.kosong-subtitle {
  color: #9490a4;
  font-size: 24px;
}

.crud .crud-footer {
  width: 100%;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crud .crud-footer .btn {
  border-radius: 4px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.crud .table .thead-table th {
  padding: 1rem;
}

.crud .table .thead-table th.aksi {
  text-align: center;
}

.crud .table .thead-table th.no {
  text-align: center;
}

.crud .table .body-table td {
  padding: 1rem;
}

.crud .table .btn-table {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crud .table .btn-table button {
  margin: 0 5px;
}

.crud .table .btn-table .edit {
  color: #55cb4a;
  font-size: 25px;
}

.crud .table .btn-table .edit:hover {
  color: #6feb63;
}

.crud .table .btn-table .trash {
  color: #ee2b2b;
  font-size: 24px;
  padding-bottom: 3px;
}

.crud .table .btn-table .trash:hover {
  color: #ff4242;
}

.crud .pagination-table {
  padding: 0;
}

.crud .pagination-table .page-item.active .page-link {
  background: #baadff;
  color: #f5efff;
  border-radius: 10px;
}

.crud .pagination-table .page-link {
  background-color: transparent;
  color: #9490a4;
  padding: 8px 13px;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.crud .pagination-table .page-link:hover {
  background: transparent;
  color: #baadff;
}

.crud .pagination-table .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.admin-modal .modal-header {
  border-bottom: none;
}

.admin-modal .modal-text {
  color: #9490a4;
}

.admin-modal .btn {
  border-radius: 4px;
}

.konten {
  min-height: unset;
  height: calc(100vh - 80px);
  padding-top: 10px;
  overflow-y: auto;
}

.konten .card {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 4px 10px rgba(199, 199, 199, 0.25);
          box-shadow: 0 4px 10px rgba(199, 199, 199, 0.25);
}

.konten .card-body {
  padding-left: 15px;
}

.konten .card-karir .bordered {
  border-bottom: 12px solid #d7d2f7;
  border-radius: 0px 0px 12px 12px;
}

.konten .card-karir .karir-link {
  color: #baadff;
  text-decoration: none;
}

.konten .card-judul {
  font-size: 24px;
  color: #b0a6ef;
  margin-top: 65px;
  margin-bottom: 35px;
}

.konten .dash-label {
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.konten .dash-label .spinner-border,
.konten .dash-label .spinner-grow {
  font-size: 20px;
  color: #d0d0d0;
}

.konten.konten-dashfirst .btn-slengkapnya {
  border: 1px solid #baadff;
}

.konten.konten-dashfirst .btn-slengkapnya:hover {
  border: 1px solid #f5efff;
}

.konten.konten-dashfirst .link-lewati:hover {
  color: #ffffff;
}

.super-admin .form-login__title {
  font-size: 26px;
  color: #baadff;
}

.super-admin .form-login .input-group input {
  border-right: 1px solid transparent;
}

.super-admin .form-login .input-group-text {
  color: #e5d9f2;
  border-left: 1px solid transparent;
}

.super-admin .form-control {
  border: 1px solid #9490a4;
}

/* unggah foto */
.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 235px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 60%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.form-karir,
.reg-siswa label:after {
  content: "";
}

.form-user .form-control,
.form-user .input-group-text {
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: transparent;
  border-bottom: 1px solid #9490a4;
  border-radius: 0;
}

.form-user .input-group-text {
  color: #e5d9f2;
  border-color: #9490a48a;
}

.form-user .form-error__info {
  color: #ff4a4a;
  font-size: 12px;
}

.nav-pills .nav-link {
  border: 1px solid #9e8df3;
  margin-right: 15px;
  color: #9e8df3;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-pills .nav-link.active {
  background-color: #9e8df3;
}

/* CSS on MOBILE */
/* HAPE */
/* TABLET */
@media screen and (max-width: 768px) {
  .super-admin::before {
    display: none;
  }
}

/* LAPTOP Kecil */
@media screen and (max-width: 992px) {
  .super-admin {
    padding: 30px 0;
  }
  .super-admin .form-login__kanan {
    padding-top: 30px;
  }
  .super-admin .form-login__kanan .logo {
    width: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .super-admin .form-login__kanan .mess-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .super-admin .form-login__kanan .mess-subtitle {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .super-admin .form-login__kanan .btn {
    font-size: 12px !important;
    padding: 5px 15px !important;
  }
}

/* LAPTOP Normal */
/* LAPTOP besar */
/*# sourceMappingURL=admin.css.map */