h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1a1a1a;
}

.text {
    &-primary {
        color: #baadff !important;
    }
}

.btn.btn {
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    &:focus,
    .focus {
        box-shadow: none !important;
    }
    &-primary {
        background-color: #baadff;
        border-color: #baadff;
        &:hover {
            background-color: #9e8df3;
            border-color: #9e8df3;
            color: white;
        }
        &:active:not(.disabled),
        &:active:not(:disabled) {
            background-color: #9e8df3;
            border-color: #9e8df3;
            color: white;
        }
    }
    &-light {
        color: #baadff;
        &:hover {
            background-color: transparent;
            color: white;
            border-color: white;
        }
    }
    &-outline {
        &-primary {
            border: 1px solid #d5cbff;
            &:disabled,
            &.disabled {
                color: #a594f9;
                &:hover {
                    color: #fff;
                    border-color: #dddddd;
                    background-color: #dddddd;
                }
            }
        }
        &-warning {
            border: 1px solid #ff8706;
            color: #ff8706;
            &.fill {
                border: 1px solid #ffddc7;
                background-color: #ffddc7;
                &:hover {
                    background-color: #ffc49c;
                    // color: #fff;
                }
            }
        }
    }
    &:disabled,
    &.disabled {
        cursor: not-allowed;
    }
}

.form-control {
    &:focus {
        box-shadow: none !important;
        border-color: #9e8df3 !important;
    }
}

.konten {
    .card {
        border: 1px solid transparent;
        box-shadow: 0 4px 10px rgba(199, 199, 199, 0.25);
    }
    .dash-label {
        font-size: 35px;
    }
}

.super-admin {
    .form-login {
        &__title {
            font-size: 26px;
            color: #baadff;
        }
        .input-group {
            input {
                border-right: 1px solid transparent;
            }
            &-text {
                color: #e5d9f2;
                border-left: 1px solid transparent;
            }
        }
    }
    .form-control {
        border: 1px solid #9490a4;
    }
}

/* CSS on MOBILE */
/* HAPE */
/* TABLET */
@media screen and (max-width: 768px) {
    .super-admin {
        &::before {
            display: none;
        }
    }
}

/* LAPTOP Kecil */
@media screen and (max-width: 992px) {
    .super-admin {
        padding: 30px 0;
        .form-login {
            &__kanan {
                padding-top: 30px;
                .logo {
                    width: 70px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
                .mess {
                    &-title {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    &-subtitle {
                        font-size: 13px;
                        margin-bottom: 10px;
                    }
                }
                .btn {
                    font-size: 12px !important;
                    padding: 5px 15px !important;
                }
            }
        }
    }
}

/* LAPTOP Normal */
/* LAPTOP besar */
@media screen and (min-width: 1300px) {
}
