body {
  font-family: Poppins, sans-serif;
  background-color: #f9f8ff;
}

/* tambahan arbi */
.text-primary {
  color: #baadff !important;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.btn.btn {
  border-radius: 25px;
}

.btn.btn-light {
  color: #a594f9;
}

.btn.btn-light:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.btn.btn-outline-primary {
  border: 1px solid #d5cbff;
}

/* HEADER */
#header {
  position: relative;
}

#header.variant-melengkung {
  background: url("/background/hero-overlay-2.svg"), linear-gradient(249.05deg, #7370fb -0.01%, #8a83ff 48.22%, #baadff 99.99%);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#header.variant-melengkung::after {
  content: "";
  background-image: url("/background/vector-melengkung.svg");
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 25%;
  width: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 120%;
}

.card-gradient {
  border-radius: 28px;
  padding: 20px;
  height: 100%;
}

.lg-top-to-bottom {
  background: url("/background/texture-1.png"), -webkit-gradient(linear, left top, left bottom, from(#eae6ff), to(#f9f8ff));
  background: url("/background/texture-1.png"), linear-gradient(180deg, #eae6ff 0%, #f9f8ff 100%);
}

.lg-right-to-left {
  background: url("/background/texture-1.png"), -webkit-gradient(linear, right top, left top, from(#eae6ff), to(#f9f8ff));
  background: url("/background/texture-1.png"), linear-gradient(270deg, #eae6ff 0%, #f9f8ff 100%);
}

.lg-left-to-right {
  background: url("/background/texture-1.png"), -webkit-gradient(linear, left top, right top, from(#eae6ff), to(#f9f8ff));
  background: url("/background/texture-1.png"), linear-gradient(90deg, #eae6ff 0%, #f9f8ff 100%);
}

/* HERO */
#hero {
  min-height: calc(100vh - 80px);
}

#hero .judul {
  font-size: 36px;
  color: #f5efff;
}

#hero .subjudul {
  line-height: 25px;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 30px;
  color: #f5efff;
}

/* keunggulan slider */
#keunggulan-slider {
  margin: 0;
  padding-top: 25px;
}

#keunggulan-nav {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 100%;
  left: 0;
}

#keunggulan-nav button {
  position: absolute;
  background-color: #f4f1ff;
  color: #b0a6ef;
  border: 1px solid transparent;
  padding: 5px 12px;
  border-radius: 50%;
  font-size: 17px;
}

#keunggulan-nav button.nav-prev {
  left: 0;
}

#keunggulan-nav button.nav-next {
  right: 0;
}

/* Section Langkah */
.section-langkah .section-body {
  padding: 100px 0 90px;
  background-image: url("/background/dashed-path-smile.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 77%;
}

.section-langkah .langkah-item .nomor {
  font-size: 22px;
  color: #baadff;
  width: 48px;
  height: 48px;
  border: 1px dashed #baadff;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  background-color: white;
}

.section-langkah .langkah-item .judul {
  font-size: 14px;
  color: #b0a6ef;
}

.section-langkah .langkah-item p {
  font-size: 12px;
  color: #9490a4;
}

/* Footer */
#footer .sosmed {
  margin-right: 0;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer ul > li > a.li {
  color: rgba(245, 239, 255, 0.98);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer ul > li > a.li:hover {
  font-weight: normal;
  color: white;
}
/*# sourceMappingURL=main.css.map */