body {
  font-family: Poppins, sans-serif;
}

.dropdown {
  &-menu {
    border-radius: 0;
  }
  &-item {
    font-size: 12px;
    &:active {
      background-color: #b0a6ef;
    }
  }
}

.pos-relative {
  position: relative;
}

img {
  max-width: 100% !important;
}

.text {
  &-info {
    color: #008ffd;
  }
}

.z {
  &-0 {
    z-index: 0;
  }
  &-1 {
    z-index: 1;
  }
  &-5 {
    z-index: 5;
  }
  &-10 {
    z-index: 10;
  }
  &-20 {
    z-index: 20;
  }
  &-99 {
    z-index: 99;
  }
}
