$title: #6560FD;
$secondary-title: #000000;
$text: #100906;
$bg-main: #F7F692;

*,
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

.bg,
.badge {
  &-primary {
    background-color: #b0a6ef;
  }
}

.bg-ujian {
  background-color: #f1e9fe !important;
}

.dropdown {
  &-menu {
    border-radius: 0;
  }
  &-item {
    font-size: 12px;
    &:active {
      background-color: #b0a6ef;
    }
  }
}

.model-belajar {
  font-size: 12px !important;
}

.pos-relative {
  position: relative;
}

img {
  max-width: 100% !important;
}

.text {
  &-info {
    color: #008ffd;
  }
}

.z {
  &-0 {
    z-index: 0;
  }
  &-1 {
    z-index: 1;
  }
  &-5 {
    z-index: 5;
  }
  &-10 {
    z-index: 10;
  }
  &-20 {
    z-index: 20;
  }
  &-99 {
    z-index: 99;
  }
}

.shadow-none {
  box-shadow: none !important;
}

.border-none {
  border: none !important;
}

.row {
  flex-wrap: wrap !important;
}

.cursor-pointer {
  cursor: pointer;
}

small,
.small {
  font-size: 80% !important;
  font-weight: 400;
}

.alert {
  &-light {
    background-color: #fafafa;
    border-color: #ddd;
  }
}

.b-sidebar > .b-sidebar-header {
  font-size: 18px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // padding-bottom: 10px;
}


button {
  position: relative;
  .button-dropdown {
    position: absolute;
    display: none;
    bottom: -2px;
    right: 15px;
    transform: translateY(100%);
    max-width: 100%;
    width: 100px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid inherit;
    cursor: default;

    &.show {
      display: block;
    }

    span {
      cursor: default;
      display: block;
      padding: 10px 0 5px;
      font-size: 10px;
      color: #6d6d6d;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        cursor: pointer;
        padding: 8px 10px;
        font-size: 12px;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
