*,
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

.bg,
.badge {
  &-primary {
    background-color: #b0a6ef;
  }
}

.bg-ujian {
  background-color: #f1e9fe !important;
}

.dropdown {
  &-menu {
    border-radius: 0;
  }
  &-item {
    font-size: 12px;
    &:active {
      background-color: #b0a6ef;
    }
  }
}

.pos-relative {
  position: relative;
}

img {
  max-width: 100% !important;
}

.text {
  &-info {
    color: #008ffd;
  }
}

.z {
  &-0 {
    z-index: 0;
  }
  &-1 {
    z-index: 1;
  }
  &-5 {
    z-index: 5;
  }
  &-10 {
    z-index: 10;
  }
  &-20 {
    z-index: 20;
  }
  &-99 {
    z-index: 99;
  }
}

.shadow-none {
  box-shadow: none !important;
}

.border-none {
  border: none !important;
}

.row {
  flex-wrap: wrap !important;
}

.cursor-pointer {
  cursor: pointer;
}

small,
.small {
  font-size: 80% !important;
  font-weight: 400;
}

.alert {
  &-light {
    background-color: #fafafa;
    border-color: #ddd;
  }
}

.b-sidebar > .b-sidebar-header {
  font-size: 18px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // padding-bottom: 10px;
}
